* {
  margin: 0;
  padding: 0;
}

@theme: #1890ff;

body {
  background: linear-gradient(45deg, @theme, #1cbbb4) no-repeat;
  border-top: 2px solid @theme;
  transition: background-color 0.2s ease-in;
}

.root {
  margin: 100px 0 0 100px;
}
.text {
  color: #fff;
  margin: 20px 0;
  mix-blend-mode: screen;
}

.dark {
  background-color: @theme;
  color: #fff;
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 4px 12px;
  &:hover {
    color: @theme;
    background-color: #fff;
  }
}
